// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$main-bg: #F1F7E2 !default;
$page-bg: #404B50 !default;

$header-bg: #202B30;
$subtitle-color: lighten($header-bg, 58);
$nav-bg: #74C0CF;
$nav-bg-front: image-url('noise.png');
$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
$nav-color: darken($nav-bg, 75) !default;
$nav-color-hover: darken($nav-color, 25) !default;

$footer-bg: #202B30 !default;
$footer-bg-front: image-url('noise.png');
$footer-bg-back: linear-gradient(lighten($footer-bg, 2), $footer-bg, darken($footer-bg, 5));
$footer-color: lighten($footer-bg, 48) !default;
$footer-color-hover: lighten($footer-color, 10) !default;
$footer-link-color: lighten($footer-bg, 48) !default;
$footer-link-color-hover: lighten($footer-color, 35) !default;

$sidebar-bg: desaturate(darken($main-bg, 3), 25);
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);

/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
