// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", "Verdana", "Arial", sans-serif;
$mono: "Consolas", "Courier", monospace;
$heading-font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", "Verdana", "Arial", sans-serif;
$header-title-font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", "Verdana", "Arial", sans-serif;
$header-subtitle-font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", "Verdana", "Arial", sans-serif;
//$serif: "Baskerville", serif;